<% var data = {title: "FindWork1",author: "Tim"}; %><%= _.template(require('./../includes/header.html').default)(data) %>
<div class="bg-container">
	<input type="checkbox" id="bg"/>
	<label class="bg-btn" for="bg"></label>
</div>
<section class="find-job">
	<div>
		<div class="find-job-container">
			<div class="find-job-sides">
				<div class="find-job-left">
					<div class="find-job-left-performer">
						<a href="javascript:">
							<img src="../../img/sections/findWork1/Star.svg" alt=""/>
							<b>Хотите стать исполнителем?</b>
						</a>
					</div>
					<div class="find-job-left-categories">
						<div class="find-job-left-categories-container">
							<div class="find-job-left-categories-main">
								<input type="checkbox" id="all-cats"/>
								<label for="all-cats">Все категории</label>
							</div>
							<ul class="find-job-left-categories-items">
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-1"/>
									<label for="categories-1">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-2"/>
									<label for="categories-2">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-4"/>
									<label for="categories-4">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-5"/>
									<label for="categories-5">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-6"/>
									<label for="categories-6">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-7"/>
									<label for="categories-7">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-8"/>
									<label for="categories-8">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-9"/>
									<label for="categories-9">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-10"/>
									<label for="categories-10">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-11"/>
									<label for="categories-11">Курьерские услуги</label>
								</li>

								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-12"/>
									<label for="categories-12">Установка и ремонт техники</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-13"/>
									<label for="categories-13">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-14"/>
									<label for="categories-14">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-15"/>
									<label for="categories-15">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-16"/>
									<label for="categories-16">Курьерские услуги</label>
								</li>
								<li class="find-job-left-categories-item">
									<input type="checkbox" id="categories-17"/>
									<label for="categories-17">Курьерские услуги</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="find-job-left-banner">
						<p>Рекламнй банер</p>
						<b>Лучшее место для вашей рекламы</b>
						<div class="find-job-left-banner-btn">
							<a href="javascript:">
								<span>Узнать больше</span>
							</a>
						</div>
					</div>
				</div>
				<div class="find-job-right">
					<div class="find-job-right-form">
						<h3>Найти задание</h3>
						<form action="javascript:">
							<div class="find-job-right-form-search">
								<input type="search" placeholder="Поиск по ключевым словам"/>
								<button type="submit"><span>найти</span></button>
							</div>
							<div class="find-job-right-form-inputs">
								<div class="find-job-right-form-inputs-address">
									<span>Адрес (район,метро)</span>
									<input type="text" placeholder="Чиланзарский район"/>
								</div>
								<div class="find-job-right-form-inputs-radius">
									<span>Радиус поиска</span>
									<input type="text" placeholder="15 км"/>
								</div>
								<div class="find-job-right-form-inputs-cost">
									<span>Стоимость задания</span>
									<input type="text" placeholder="сум"/>
								</div>
							</div>
							<ul class="find-job-right-form-checkboxes">
								<li class="find-job-right-form-checkbox">
									<input type="checkbox" id="remote"/>
									<label for="remote">Удаленная работа</label>
								</li>
								<li class="find-job-right-form-checkbox">
									<input type="checkbox" id="without-continuing"/>
									<label for="without-continuing">Задания без продолжения</label>
								</li>
								<li class="find-job-right-form-checkbox">
									<input type="checkbox" id="risk-free"/>
									<label for="risk-free">Сделка без риска</label>
								</li>
								<li class="find-job-right-form-checkbox">
									<input type="checkbox" id="business"/>
									<label for="business">Бизнес задания</label>
								</li>
							</ul>
						</form>
					</div>
					<div class="find-job-right-sort">
						<ul class="find-job-right-sort-items">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><%= _.template(require('./../includes/footer.html').default)(data) %>

…or create a new repository on the command line
echo "# findit-frontend" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/shoxabbos/findit-frontend.git
git push -u origin master