<% var data = {title: "FindWork3",author: "Tim"}; %><%= _.template(require('./../includes/header.html').default)(data) %>
<div class="bg-container">
	<input type="checkbox" id="bg"/>
	<label class="bg-btn" for="bg"></label>
</div>
<section class="cart">
	<div>
		<div class="cart-container">
			<div class="cart-title">
				<h2>Переустановить windows,почистить ноутбук от пыли, <br/> установить игры</h2>
				<!--Onclick open Modal Window-->
				<a class="edit-btn" href="javascript:">
					<span>Редактировать</span>
					<img src="../../img/sections/findWork3/icon.png" alt="icon"/>
				</a>
				<!--EndOnClick-->
			</div>
			<div class="cart-info">
				<div class="cart-info-status">
					<b>Открыто</b>
				</div>
				<div class="cart-info-views">
					<span>522 просмотров</span>
				</div>
				<div class="cart-info-date">
					<span>Создано 26 октября</span>
				</div>
				<div class="cart-info-type">
					<img src="../../img/sections/findWork2/shield.png" alt="shield"/>
					<span>Сделка без риска</span>
				</div>
			</div>
			<div class="cart-sides">
				<div class="cart-left">
					<div class="cart-left-info">
						<div class="cart-left-info-type">
							<b>Заказчик</b> <em>№75601</em>
						</div>
						<div class="cart-left-info-content">
							<div class="cart-left-info-image">
								<img src="../../img/sections/findWork2/client.png" alt="client"/>
							</div>
							<div class="cart-left-info-information">
								<div class="cart-left-info-information-name">
									<b>Александра</b>
								</div>
								<div class="cart-left-info-information-address">
									<p>Ташкент, М.Улугбекский р-н</p>
								</div>
							</div>
						</div>
						<div class="cart-left-info-reviews">
							<span>Отзывы</span> <em>25
							<img src="../../img/sections/findWork2/like.png" alt="like"/>
						</em>
						</div>
					</div>
					<div class="cart-left-banner">
						<p>Рекламнй банер</p>
						<b>Лучшее место для вашей рекламы</b>
						<div class="cart-left-banner-btn">
							<a href="javascript:">
								<span>Узнать больше</span>
							</a>
						</div>
					</div>
				</div>
				<div class="cart-right">
					<div class="cart-right-map">

					</div>
					<ul class="cart-right-items">
						<li class="cart-right-item address">
							<b>Адрес</b>
							<p><span>Точка А:</span>Ташкент, Чиланзарский район, Алгоритм 20</p>
							<p><span>Точка Б:</span> Самарканд, ул. Пушкина, 10</p>
						</li>
						<li class="cart-right-item time">
							<div>
								<b>Начать</b>
								<p>5 ноября, 16:20</p>
							</div>
							<div>
								<b>Завершить</b>
								<p>7 ноября 16:00</p>
							</div>
						</li>
						<li class="cart-right-item price">
							<div>
								<b>Цена</b>
								<p>100 000 сум</p>
							</div>
							<div>
								<b>Оплата</b>
								<p>
									<img src="../../img/sections/findWork2/card.png" alt="card"/>
									Карта (Сделка без риска)
								</p>
							</div>
						</li>
						<li class="cart-right-item necessary">
							<div>
								<b>Нужно</b>
								<p>Для капитального ремонта собственной квартиры на данном этапе требуется опытный
									Исполнитель(!) для высококачественной штукатурки нескольких кирпичных стен. В случае
									качественного исполнения заказ будет существенно расширен.
								</p>
								<p>Требования высокие, исполнителя выбираю тщательно… Поэтому,прежде чем предлагать свои
									услуги и тратить деньги,- подумайте,соответствуете ли вы заданию.
								</p>
							</div>
						</li>
					</ul>
					<div class="cart-right-notice">
						<img src="../../img/sections/findWork3/!.png" alt="!"/>
						<p>Если вы доверяете исполнителю ценные вещи, крупную задачу или впускаете в дом, проверьте его
							паспорт и попросите подписать документы. Шаблон расписки, типового договора и другие
							полезные советы <span> смотрите в рекомендациях.</span></p>
					</div>
					<div class="applications">
						<b>2 предложения</b>
						<div class="applications-sort">
							<ul class="applications-sort-items">
								<li class="applications-sort-item-sort"><b>Сортировать:</b></li>
								<li class="applications-sort-item-rating">
									<a href="javascript:">По рейтингу</a>
								</li>
								<li class="applications-sort-item-reviews">
									<a href="javascript:">По отзывам</a>
								</li>
								<li class="applications-sort-item-time">
									<a href="javascript:">По времени</a>
								</li>
							</ul>
						</div>
						<ul class="applications-items">
							<li class="applications-item">
								<div class="applications-item-inner">
									<div class="applications-item-top">
										<div class="applications-item-top-left">
											<div class="applications-item-top-left-img">
												<img src="../../img/sections/findWork3/Photo.png" alt="photo"/>
											</div>
											<div class="applications-item-top-left-info">
												<div class="applications-item-top-left-info-name">
													<b>Юлия Н.</b>
													<img src="../../img/sections/findWork2/shield.png" alt="shield"/>
												</div>
												<div class="applications-item-top-left-info-status">
													<p class="status-online">Онлайн</p>
												</div>
												<div class="applications-item-top-left-info-place">
													<p>16 место в категории Дизайн</p>
												</div>
											</div>
										</div>
										<div class="applications-item-top-right">
											<ul class="applications-item-top-right-stars">
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star"></li>
											</ul>
											<div class="applications-item-top-right-rating">
												<div class="applications-item-top-right-likes">
													<p>8540</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/like.png" alt="like"/>
													</a>
												</div>
												<div class="applications-item-top-right-dislikes">
													<p>25</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/dislike.png" alt="dislike"/>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="applications-item-middle">
										<div class="applications-item-middle-price">
											<b>Стоимость 1700 Р</b>
										</div>
										<div class="applications-item-middle-text">
											<p>Здравствуйте, Олег. Опыт работы 6+. Высылаю не менее 5 вариантов. И где
												файл с ТЗ?
											</p>
										</div>
										<div class="applications-item-middle-phone">
											<b><span>Телефон:</span>+998 97 140...
												<a href="javascript:">Показать</a>
											</b>
										</div>
									</div>
									<div class="applications-item-bottom">
										<a class="btn-static" href="javascript:"><span>Сообщение</span></a>
										<a class="btn-green" href="javascript:"><span>Выбрать исполнителем</span></a>
									</div>
								</div>
								<div class="applications-item-around">
									<div class="applications-item-around-report">
										<a href="javascript:" class="report-link">Пожаловаться</a>
										<a href="javascript:" class="overflow-link">Скрыть предложение</a>
									</div>
									<div class="applications-item-around-time">
										<p>Вчера 23:10</p>
									</div>
								</div>
							</li>

							<li class="applications-item">
								<div class="applications-item-inner">
									<div class="applications-item-top">
										<div class="applications-item-top-left">
											<div class="applications-item-top-left-img">
												<img src="../../img/sections/findWork3/Photo.png" alt="photo"/>
											</div>
											<div class="applications-item-top-left-info">
												<div class="applications-item-top-left-info-name">
													<b>Светлана П.</b>
													<img src="../../img/sections/findWork2/shield.png" alt="shield"/>
												</div>
												<div class="applications-item-top-left-info-status">
													<p>Была 2 минуты назад</p>
												</div>
												<div class="applications-item-top-left-info-place">
													<p>16 место в категории Дизайн</p>
												</div>
											</div>
										</div>
										<div class="applications-item-top-right">
											<ul class="applications-item-top-right-stars">
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star"></li>
											</ul>
											<div class="applications-item-top-right-rating">
												<div class="applications-item-top-right-likes">
													<p>8540</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/like.png" alt="like"/>
													</a>
												</div>
												<div class="applications-item-top-right-dislikes">
													<p>25</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/dislike.png" alt="dislike"/>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="applications-item-middle">
										<div class="applications-item-middle-price">
											<b>Стоимость 1700 Р</b>
										</div>
										<div class="applications-item-middle-text">
											<p>Доброго времени суток !</p>
											<p>Мой пятилетний опыт в работе с графическим дизайном, без трудностей
												поможет мне выполнить Ваш заказ любой сложности с растровыми
												изображениями и векторной графикой, разработкой макетов полиграфической
												продукции (визитки, листовки, буклеты и т.д.), рекламной продукции
												(ручки, пакеты, футболки и т.д.), наружной рекламы, разработкой
												логотипов и фирменного стиля.
											</p>
										</div>
										<div class="applications-item-middle-phone">
											<b><span>Телефон:</span>+998 97 140...
												<a href="javascript:">Показать</a>
											</b>
										</div>
									</div>
									<div class="applications-item-bottom">
										<a class="btn-static" href="javascript:"><span>Сообщение</span></a>
										<a class="btn-green" href="javascript:"><span>Выбрать исполнителем</span></a>
									</div>
								</div>
								<div class="applications-item-around">
									<div class="applications-item-around-report">
										<a href="javascript:" class="report-link">Пожаловаться</a>
										<a href="javascript:" class="overflow-link">Скрыть предложение</a>
									</div>
									<div class="applications-item-around-time">
										<p>Вчера 23:10</p>
									</div>
								</div>
							</li>
						</ul>
						<ul class="applications-items recommended">
							<h4>Рекомендуемые исполнители</h4>
							<li class="applications-item recommended">
								<div class="applications-item-inner recommended">
									<div class="applications-item-top">
										<div class="applications-item-top-left">
											<div class="applications-item-top-left-img">
												<img src="../../img/sections/findWork3/Photo.png" alt="photo"/>
											</div>
											<div class="applications-item-top-left-info">
												<div class="applications-item-top-left-info-name">
													<b>Юлия Н.</b>
													<img src="../../img/sections/findWork2/shield.png" alt="shield"/>
												</div>
												<div class="applications-item-top-left-info-status">
													<p class="status-online">Онлайн</p>
												</div>
												<div class="applications-item-top-left-info-place">
													<p>16 место в категории Дизайн</p>
												</div>
											</div>
										</div>
										<div class="applications-item-top-right">
											<ul class="applications-item-top-right-stars">
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star"></li>
											</ul>
											<div class="applications-item-top-right-rating">
												<div class="applications-item-top-right-likes">
													<p>8540</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/like.png" alt="like"/>
													</a>
												</div>
												<div class="applications-item-top-right-dislikes">
													<p>25</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/dislike.png" alt="dislike"/>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="applications-item-bottom">
										<a class="btn-static" href="javascript:"><span>Сообщение</span></a>
										<a class="btn-green" href="javascript:"><span>Выбрать исполнителем</span></a>
									</div>
								</div>
							</li>
							<li class="applications-item recommended">
								<div class="applications-item-inner recommended">
									<div class="applications-item-top">
										<div class="applications-item-top-left">
											<div class="applications-item-top-left-img">
												<img src="../../img/sections/findWork3/Photo.png" alt="photo"/>
											</div>
											<div class="applications-item-top-left-info">
												<div class="applications-item-top-left-info-name">
													<b>Юлия Н.</b>
													<img src="../../img/sections/findWork2/shield.png" alt="shield"/>
												</div>
												<div class="applications-item-top-left-info-status">
													<p class="status-online">Онлайн</p>
												</div>
												<div class="applications-item-top-left-info-place">
													<p>16 место в категории Дизайн</p>
												</div>
											</div>
										</div>
										<div class="applications-item-top-right">
											<ul class="applications-item-top-right-stars">
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star star-active"></li>
												<li class="applications-item-top-right-star"></li>
											</ul>
											<div class="applications-item-top-right-rating">
												<div class="applications-item-top-right-likes">
													<p>8540</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/like.png" alt="like"/>
													</a>
												</div>
												<div class="applications-item-top-right-dislikes">
													<p>25</p>
													<a href="javascript:">
														<img src="../../img/sections/findWork3/dislike.png" alt="dislike"/>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="applications-item-bottom">
										<a class="btn-static" href="javascript:"><span>Сообщение</span></a>
										<a class="btn-green" href="javascript:"><span>Выбрать исполнителем</span></a>
									</div>
								</div>
							</li>
						</ul>
						<div class="applications-button">
							<a href="javascript:"><span>Показать еще</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="modal-window-container" style="display: none">
	<div class="modal-window">
		<a class="modal-window-close" href="#">x</a>
		<div class="modal-window-inner">
			<h4>Редактировать обьявление</h4>
			<ul class="modal-window-items">
				<li class="modal-window-item">
					<input type="checkbox" id="modal-one"/>
					<label class="modal-window-item-label" for="modal-one">
						<div class="modal-window-item-image">
							<img src="../../img/sections/findWork3/task.png" alt="task"/>
						</div>
						<div class="modal-window-item-text">
							<b>Изменить условия задания</b>
							<p>Изменить время,адрес или другие условия задания</p>
						</div>
					</label>
					<div class="modal-window-item-inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut incidunt laborum
							libero maiores nisi officia veritatis vitae? Perspiciatis, rerum!
						</p>
					</div>
				</li>
				<li class="modal-window-item">
					<input type="checkbox" id="modal-two"/>
					<label class="modal-window-item-label" for="modal-two">
						<div class="modal-window-item-image">
							<img src="../../img/sections/findWork3/check.png" alt="task"/>
						</div>
						<div class="modal-window-item-text">
							<b>Изменить условия задания</b>
							<p>Изменить время,адрес или другие условия задания</p>
						</div>
					</label>
					<div class="modal-window-item-inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut incidunt laborum
							libero maiores nisi officia veritatis vitae? Perspiciatis, rerum!
						</p>
					</div>
				</li>
				<li class="modal-window-item">
					<input type="checkbox" id="modal-three"/>
					<label class="modal-window-item-label" for="modal-three">
						<div class="modal-window-item-image">
							<img src="../../img/sections/findWork3/ear-phone.png" alt="task"/>
						</div>
						<div class="modal-window-item-text">
							<b>Изменить условия задания</b>
							<p>Изменить время,адрес или другие условия задания</p>
						</div>
					</label>
					<div class="modal-window-item-inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut incidunt laborum
							libero maiores nisi officia veritatis vitae? Perspiciatis, rerum!
						</p>
					</div>
				</li>
				<li class="modal-window-item">
					<input type="checkbox" id="modal-four"/>
					<label class="modal-window-item-label" for="modal-four">
						<div class="modal-window-item-image">
							<img src="../../img/sections/findWork3/close.png" alt="task"/>
						</div>
						<div class="modal-window-item-text">
							<b>Изменить условия задания</b>
							<p>Изменить время,адрес или другие условия задания</p>
						</div>
					</label>
					<div class="modal-window-item-inner">
						<form action="javascript:">
							<ul class="modal-window-item-inner-radios">
								<li class="modal-window-item-inner-radio">
									<input id="modal-radio-one" name="modal" type="radio"/>
									<label for="modal-radio-one">Нет подходящих предложений</label>
								</li>
								<li class="modal-window-item-inner-radio">
									<input id="modal-radio-two" name="modal" type="radio"/>
									<label for="modal-radio-two">Задание уже не актуально</label>
								</li>
								<li class="modal-window-item-inner-radio">
									<input id="modal-radio-three" name="modal" type="radio"/>
									<label for="modal-radio-three">Исполнитель найден на другом ресурсе</label>
								</li>
								<li class="modal-window-item-inner-radio">
									<input id="modal-radio-four" name="modal" type="radio"/>
									<label for="modal-radio-four">Решил проблему самостоятельно
									</label>
								</li>
								<li class="modal-window-item-inner-radio">
									<input id="modal-radio-six" name="modal" type="radio"/>
									<label for="modal-radio-six">Дорого</label>
								</li>
								<li class="modal-window-item-inner-radio">
									<input id="modal-radio-seven" name="modal" type="radio"/>
									<label for="modal-radio-seven">Другая причина</label>
								</li>
							</ul>
							<textarea name="modal-textarea" id="" cols="30" rows="5" placeholder="Укажите причину отказа"></textarea>
							<div class="modal-window-item-inner-button">
								<button class="btn-green" type="submit"><span>Отправить запрос</span></button>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
