<% var data = {title: "FindWork2",author: "Tim"}; %><%= _.template(require('./../includes/header.html').default)(data) %>
<section class="cart">
	<div>
		<div class="cart-container">
			<div class="cart-title">
				<h2>Переустановить windows,почистить ноутбук от пыли,установить игры</h2>
				<a href="javascript:">
					<span>Предложить свои услуги</span>
				</a>
			</div>
			<div class="cart-info">
				<div class="cart-info-status">
					<b>Открыто</b>
				</div>
				<div class="cart-info-views">
					<span>522 просмотров</span>
				</div>
				<div class="cart-info-date">
					<span>Создано 26 октября</span>
				</div>
				<div class="cart-info-type">
					<img src="../../img/sections/findWork2/shield.png" alt="shield"/>
					<span>Сделка без риска</span>
				</div>
			</div>
			<div class="cart-sides">
				<div class="cart-left">
					<div class="cart-left-info">
						<div class="cart-left-info-type">
							<b>Заказчик</b> <em>№75601</em>
						</div>
						<div class="cart-left-info-content">
							<div class="cart-left-info-image">
								<img src="../../img/sections/findWork2/client.png" alt="client"/>
							</div>
							<div class="cart-left-info-information">
								<div class="cart-left-info-information-name">
									<b>Александра</b>
								</div>
								<div class="cart-left-info-information-address">
									<p>Ташкент, М.Улугбекский р-н</p>
								</div>
							</div>
						</div>
						<div class="cart-left-info-reviews">
							<span>Отзывы</span> <em>25</em>
							<img src="../../img/sections/findWork2/like.png" alt="like"/>
						</div>
					</div>
					<div class="cart-left-banner">
						<p>Рекламнй банер</p>
						<b>Лучшее место для вашей рекламы</b>
						<div class="cart-left-banner-btn">
							<a href="javascript:">
								<span>Узнать больше</span>
							</a>
						</div>
					</div>
				</div>
				<div class="cart-right">
					<div class="cart-right-map">

					</div>
					<ul class="cart-right-items">
						<li class="cart-right-item address">
							<b>Адрес</b>
							<p><span>Точка А:</span>Ташкент, Чиланзарский район, Алгоритм 20</p>
							<p><span>Точка Б:</span> Самарканд, ул. Пушкина, 10</p>
						</li>
						<li class="cart-right-item time">
							<div>
								<b>Начать</b>
								<p>5 ноября, 16:20</p>
							</div>
							<div>
								<b>Завершить</b>
								<p>7 ноября 16:00</p>
							</div>
						</li>
						<li class="cart-right-item price">
							<div>
								<b>Цена</b>
								<p>100 000 сум</p>
							</div>
							<div>
								<b>Оплата</b>
								<p>
									<img src="../../img/sections/findWork2/card.png" alt="card"/>
									Карта (Сделка без риска)
								</p>
							</div>
						</li>
						<li class="cart-right-item necessary">
							<div>
								<b>Нужно</b>
								<p>Для капитального ремонта собственной квартиры на данном этапе требуется опытный
									Исполнитель(!) для высококачественной штукатурки нескольких кирпичных стен. В случае
									качественного исполнения заказ будет существенно расширен.
								</p>
								<p>Требования высокие, исполнителя выбираю тщательно… Поэтому,прежде чем предлагать свои
									услуги и тратить деньги,- подумайте,соответствуете ли вы заданию.
								</p>
							</div>
						</li>
					</ul>
					<div class="cart-right-hidden">
						<div class="cart-right-helper">
							<div class="cart-right-helper-text">
								<b>Хотите найти <span>надеждного</span> помощника</b>
								<p>Мы поможем быстро найти любые бтовые и бизнес-задачи</p>
							</div>
							<div class="cart-right-helper-button">
								<a href="javascript:">
									<span>Создать задание</span>
								</a>
							</div>
						</div>
						<div class="cart-right-hidden-text">
							<b>Предложения исполнителей скрыты</b>
							<p>Предложения видны только заказчику</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>
