<% var data = {title: "Заголовок | Проект",author: "Harrix"}; %>

<%= _.template(require('./../includes/header-main.html').default)(data) %>

<section class="preview">
	<div>
		<div class="preview-container">
			<h1>Освободим вас от забот</h1>
			<h4>Поможем найти надежного исполнителя</h4>
			<div class="preview-search">
				<form>
					<input type="search" placeholder="Чем вам могу помочь?"/>
					<button type="submit"><span>Заказать услугу</span></button>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="categories">
	<div>
		<div class="categories-container">
			<div class="categories-top">
				<div class="categories-top-left">
					<div class="categories-top-left-headlines">
						<h1>Категории исполнителей</h1>
						<b>701</b>
					</div>
					<h5>Готовы
						<a> помочь вам в решении</a>
						самых разгообразных задач
					</h5>
				</div>
				<div class="categories-top-right">
					<img src="../../img/sections/categories_images/Star.svg" alt="star"/>
					<a href="javascript:">
						Стать исполнителем <br/> и начать зарабатывать
					</a>
				</div>
			</div>
			<div class="categories-bottom">
				<ul class="categories-items">
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/courier.svg" alt="cats"/>
							<p>Курьерские услуги</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/wrench.svg" alt="cats"/>
							<p>Ремонт и строительство</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/delivery-truck.svg" alt="cats"/>
							<p>Грузоперевозки</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/dust.svg" alt="cats"/>
							<p>Уборка</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/cms.svg" alt="cats"/>
							<p>Компьютерная помощь</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/photo-camera.svg" alt="cats"/>
							<p>Фото и видео услуги</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/software.svg" alt="cats"/>
							<p>Web-разработка</p>
						</a>
					</li>
					<li class="categories-item">
						<a href="javascript:">
							<img src="../../img/sections/categories_images/outlet.svg" alt="cats"/>
							<p>Установка и ремонт техники</p>
						</a>
					</li>
				</ul>
				<div class="categories-bottom-button">
					<a href="javascript:">Все категории</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="advantages">
	<div>
		<div class="advantages-container">
			<ul class="advantages-items">
				<li class="advantages-item">
					<div class="advantages-item-img">
						<img src="../../img/sections/advantages/credit-card%20(2).svg" alt="advantages"/>
					</div>
					<h4>Удобная <br/> и безопасная оплата</h4>
					<p>При оплате через <span>Сделку без риска</span> мы вернем деньги, если что-то пойдет не так.</p>

				</li>
				<li class="advantages-item">
					<div class="advantages-item-img">
						<img src="../../img/sections/advantages/boy.svg" alt="advantages"/>
					</div>
					<h4>Надежные <br/> исполнители</h4>
					<p><span>Проверенные исполнители</span> подтвердили свои документы на Find it.</p>
				</li>
				<li class="advantages-item">
					<div class="advantages-item-img">
						<img src="../../img/sections/advantages/chat.svg" alt="advantages"/>
					</div>
					<h4>Достоверные <br/> отзывы</h4>
					<p>Более <span>1 000 000 отзывов</span> от заказчиков помогут в мыбрать подходящего исполнителя.</p>

				</li>
				<li class="advantages-item">
					<div class="advantages-item-img">
						<img src="../../img/sections/advantages/portfolio.svg" alt="advantages"/>
					</div>
					<h4>Find it <br/> для бизнеса</h4>
					<p>Безналичная оплата <span>бизнес-заданий</span> с предоставлением закрывающих документов.</p>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="order">
	<div>
		<div class="order-container">
			<h2>Что заказывают <br/> на <span>Find</span> <em> it</em> прямо сейчас</h2>
			<div class="order-sides">
				<ul class="order-items">
					<li class="order-item">
						<div class="order-item-top">
							<h4>Курьерская доставка</h4>
							<p>500000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Необходимо сегодня забрать заказ (деньги кину на карту в момент получения) из магазина
								«Очкарик» м. Бульвар Адмирала Ушакова и доставить в Чехов. Задание нужно выполнить
								максимально быстро, желательно до 16.00.
							</p>
						</div>
					</li>
					<li class="order-item">
						<div class="order-item-top">
							<h4>Нужен пеший курьер на одну доставку</h4>
							<p>16 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Забрать заказ в Мытишах и отвезти клиенту</p>
						</div>
					</li>
					<li class="order-item">
						<div class="order-item-top">
							<h4>Каблук. 120 кг. Сухие смеси</h4>
							<p>150 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Забрать в Мытищи документы и товар. Отвезти в г.Покров. выгрузка сразу. Оплата сразу на карту</p>
						</div>
					</li>
					<li class="order-item">
						<div class="order-item-top">
							<h4>Заменить светильник</h4>
							<p>17 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Забрать в Мытищи документы и товар. Отвезти в г.Покров. выгрузка сразу. Оплата сразу на карту</p>
						</div>
					</li>
				</ul>
				<ul class="order-items">
					<li class="order-item">
						<div class="order-item-top">
							<h4>Отвезти документы</h4>
							<p>10 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Добрый день! Необходима доставка. Все до 5 кг.</p>
						</div>
					</li>

					<li class="order-item">
						<div class="order-item-top">
							<h4>Перевезти груз с погрузкой</h4>
							<p>27 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Забрать в Мытищи документы и товар. Отвезти в г.Покров. выгрузка сразу. Оплата сразу на карту</p>
						</div>
					</li>

					<li class="order-item">
						<div class="order-item-top">
							<h4>Нужен пеший курьер на одну доставку...</h4>
							<p>32 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Забрать заказ в Мытишах и отвезти клиенту</p>
						</div>
					</li>
					<li class="order-item">
						<div class="order-item-top">
							<h4>Собрать кухню</h4>
							<p>5 800 0000 <em>сум</em></p>
						</div>
						<div class="order-item-bottom">
							<p>Добрый день! Необходима доставка. Все до 5 кг.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="order-button">
				<a href="javascript:">Все категории</a>
			</div>

		</div>
	</div>
</section>
<section class="blog">
	<div>
		<div class="blog-container">
			<h2>Новые публикации в блоге</h2>
			<ul class="blog-items">
				<li class="blog-item">
					<a href="javascript:">
					<img src="../../img/sections/blog/Group%20258.png" alt="img"/>
						<div class="blog-item-inner">
							<div class="blog-item-inner-category green">
								<span>История</span>
							</div>
							<b>Я перестала бояться людей и вижу мир в красивых снимках</b>
						</div>
					</a>
				</li>
				<li class="blog-item">
					<a href="javascript:">
						<img src="../../img/sections/blog/Rectangle%2035.png" alt="img"/>
						<div class="blog-item-inner">
							<div class="blog-item-inner-category blue">
								<span>Интервью</span>
							</div>
							<b>Как летать за границу и получать за это деньги</b>
						</div>
					</a>
				</li>
				<li class="blog-item">
					<a href="javascript:">
						<img src="../../img/sections/blog/Group%20260.png" alt="img"/>
						<div class="blog-item-inner">
							<div class="blog-item-inner-category yellow">
								<span>Проекты</span>
							</div>
							<b>Узнайте о новых технологиях в измерительной технике</b>
						</div>
					</a>
				</li>
				<li class="blog-item">
					<a href="javascript:">
						<img src="../../img/sections/blog/Group%20259.png" alt="img"/>
						<div class="blog-item-inner">
							<div class="blog-item-inner-category green">
								<span>История</span>
							</div>
							<b>Как стать Джокером на один вечер</b>
						</div>
					</a>
				</li>
			</ul>
			<div class="blog-button">
				<a href="javascript:">Все публикации</a>
			</div>
		</div>
	</div>
</section>
<section class="economy">
	<div>
		<div class="economy-container">
			<div class="economy-headlines">
				<div class="economy-headlines-top">
					<h2>Экономия на услугах</h2>
				</div>
				<div class="economy-headlines-bottom">
					<h1>до 70%</h1>
					<h3>Как это <br/> возможно?</h3>
				</div>
			</div>
			<ul class="economy-items">
				<li class="economy-item">
					<img src="../../img/sections/economy/Group%20261.png" alt=""/>
					<div class="economy-item-inner">
						<h4>Создайте задание</h4>
						<p>Опишите своими словами задачу, <br/> которую требуется выполнить.</p>
						<a href="javascript:"> Создать задание</a>
					</div>
				</li>
				<li class="economy-item">
					<div class="economy-item-inner">
						<h4>Исполнители предложат вам <br/> свои услуги и цены</h4>
						<p>Уже через пару минут вы начнете <br/> получать предложения от исполнителей, <br/> готовых выполнить ваше задание.</p>
					</div>
					<img src="../../img/sections/economy/Group%20262.png" alt=""/>
				</li>
				<li class="economy-item">
					<img src="../../img/sections/economy/Group%20263.png" alt=""/>
					<div class="economy-item-inner">
						<h4>Выберите лучшее <br/> предложение</h4>
						<p>Вы сможете выбрать подходящего исполнителя, по разным критериям:</p>
						<ul class="economy-item-inner-dots">
							<li class="economy-item-inner-dot"><p>Стоимость услуг</p></li>
							<li class="economy-item-inner-dot"><p>Отзывы заказчиков</p></li>
							<li class="economy-item-inner-dot"><p>Отзывы заказчиков</p></li>
							<li class="economy-item-inner-dot"><p>Примеры работ</p></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="pluses">
	<div>
		<div class="pluses-container">
			<h1>Основные <br/> преимущества</h1>
			<ul class="pluses-items">
				<li class="pluses-item">
					<div class="pluses-item-img">
						<img src="../../img/sections/pluses/discount.svg" alt="pluses"/>
					</div>
					<h4>Выгодные цены</h4>
					<p>У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</p>
				</li>
				<li class="pluses-item">
					<div class="pluses-item-img">
						<img src="../../img/sections/pluses/shield%20(1).svg" alt="pluses"/>
					</div>
					<h4>Проверенные исполнители</h4>
					<p>Все исполнители проходят процедуру верификации, мы проверяем отзывы, разбираемся с жалобами и контролируем качество их работы.</p>

				</li>
				<li class="pluses-item">
					<div class="pluses-item-img">
						<img src="../../img/sections/pluses/deadline.svg" alt="pluses"/>
					</div>
					<h4>Экономия времени</h4>
					<p>Вы можете найти подходящего исполнителя за несколько минут. Многие из них готовы приступить к работе в тот же день, а иногда в тот же час.</p>
				</li>
			</ul>
		</div>
	</div>
</section>
<section class="helper">
	<div>
		<div class="helper-container">
			<div class="helper-top">
				<div class="helper-top-headlines">
					<h3>Персональный помощник</h3>
					<h2>в вашем кармане</h2>
					<p>Скачайте наше приложение и пользуйтесь, <br/> где бы вы ни находились.</p>
					<div class="helper-top-apps">
						<a href="javascript:">
							<img src="../../img/sections/helper/button-appstore.png" alt="apps"/>
						</a>
						<a href="javascript:">
							<img src="../../img/sections/helper/google_play_badge.png" alt="apps"/>
						</a>
					</div>
				</div>
				<img src="../../img/sections/helper/iphone.png" alt="phone"/>
			</div>
		</div>
	</div>
</section>

<%= _.template(require('./../includes/footer-main.html').default)(data) %>