<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<ul>
	<li><a href="/" target="_blank">index/main</a></li>
	<li><a href="/create-tasks.html" target="_blank">create-tasks</a></li>
	<li><a href="/create-task.html" target="_blank">createTask</a></li>
	<li><a href="/findWork1.html" target="_blank">findWork1</a></li>
	<li><a href="/findWork2.html" target="_blank">findWork2</a></li>
	<li><a href="/findWork3.html" target="_blank">findWork3</a></li>
	<li><a href="/profile.html" target="_blank">Profile</a></li>
	<li><a href="/executor.html" target="_blank">Exeecutor</a></li>
	<li><a href="/executors.html" target="_blank">Executors</a></li>
	<li><a href="/my-orders.html" target="_blank">my-orders</a></li>
	<li><a href="/cabinet.html" target="_blank">cabinet.html</a></li>
</ul>

</body>
</html>